fastapi[all]
uvicorn
kafka-python
redis
requests
beautifulsoup4
transformers
torch
spacy
pydantic
python-socketio
lxml
streamlit

sqlalchemy==2.0.35
psycopg[binary]
alembic==1.13.3
python-dotenv==1.0.1